<<<<<<< HEAD
form{
    text-align: start;
}

.form-group{
    padding: 15px 0px 0px 0px;
}
form > .button{
    display: flex;
    align-self: center;
    margin: 10px auto;
}
.input,
.textarea {
    background-color: color(bg, 1);
=======
.input,
.textarea {
    background-color: color(typography, 1);
>>>>>>> c5876ca4d35a0125a588ac6a1a8b907bd5e686d3
    border-width: 1px;
    border-style: solid;
    border-color: color(bg, 3);
	border-radius: 2px;
<<<<<<< HEAD
    color: color(typography, 1);
    max-width: 100%;
    margin-top: 10px;
    width: 100%;
    padding: 15px 15px;
    &::placeholder {
        color: color(typography, 2);
=======
    color: color(typography, 2);
    max-width: 100%;
    width: 100%;

    &::placeholder {
        color: color(typography, 3);
>>>>>>> c5876ca4d35a0125a588ac6a1a8b907bd5e686d3
    }

    &::-ms-input-placeholder {
        color: color(typography, 3);
    }

    &:-ms-input-placeholder {
        color: color(typography, 3);
    }

    &:hover {
<<<<<<< HEAD
        border-color: lighten(color(bg, 3), 15%);
=======
        border-color: darken(color(bg, 3), 5%);
>>>>>>> c5876ca4d35a0125a588ac6a1a8b907bd5e686d3
    }

    &:active,
    &:focus {
        outline: none;
<<<<<<< HEAD
        border-color: lighten(color(bg, 3), 25%);
=======
        border-color: color(bg, 3);
>>>>>>> c5876ca4d35a0125a588ac6a1a8b907bd5e686d3
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: color(bg, 2);
        border-color: color(bg, 2);
    }
}

.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    @include font-size(7, mobile, true, false, true);
    @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(7, desktop, true, false, true);
        }
    }
    line-height: 20px;
    padding: 13px 16px;
	height: 48px;
    box-shadow: none;
<<<<<<< HEAD
    background-color: color(bg,1);
    .inline-input {
        display: inline;
=======

    .inline-input {
        display: inline;
        width: auto;
>>>>>>> c5876ca4d35a0125a588ac6a1a8b907bd5e686d3
    }
}

.textarea {
    display: block;
    min-width: 100%;
<<<<<<< HEAD
    resize: none;

    .inline-textarea {
        display: inline;
=======
    resize: vertical;

    .inline-textarea {
        display: inline;
        width: auto;
>>>>>>> c5876ca4d35a0125a588ac6a1a8b907bd5e686d3
    }
}

.field-grouped {

    > .control {

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

@include media( '>medium' ) {

    .field-grouped {
        display: flex;

        > .control {
            flex-shrink: 0;

            &.control-expanded {
                flex-grow: 1;
                flex-shrink: 1;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 8px;
            }
        }
    }
}
